/* Общие стили */
body {
    font-family: Inter, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: #414548;
    color: #f1f1f1;
    position: relative;
}

p, h1, h2, h3, ul {
    padding: 0;
    margin: 0;
}

/* Шапка */
header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--header-bg, #161616);
    transition: background 0.5s ease, border-radius 0.5s ease;
    box-shadow: 0px 10px 23px -15px #121212;
    border-radius: 0;
}

.header__left,
.header__right,
.header__middle {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease;
}

.header__left {
    width: 15%;
    background-color: var(--side-bg, #161616);
}

.header__right {
    width: 15%;
    background-color: var(--side-bg, #161616);
}

.header__middle {
    flex: 1;
}

.header__logo {
    height: 50px;
    border-radius: 14px;
}

.header__links {
    display: flex;
    gap: 24px;
    list-style: none;
}

.header__list-item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.header__link {
    border: none;
}

.header__link-icon {
    max-height: 20px;
}

.select__region {
    padding: 8px 16px;
    border-radius: 14px;
    background-color: white;
    border: none;
}

/* Основное содержимое */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    max-width: 1440px;
}

.games__total {
    font-size: 18px;
    line-height: 24px;
    margin: 16px 0;
}

.games__block {
    display: grid;
    gap: 16px;
}

.game__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: min-content;
}

.game__img-block {
    position: relative;
    width: 100%;
    padding-top: 100%; /* Ратио для сохранения пропорций */
    background-color: #f0f0f0;
    border-radius: 14px;
    overflow: hidden;
}

.game__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game__label {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 10px;
    background-color: #f0f0f0;
    color: #161616;
}

.game__description {
    width: 100%;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.game__title {
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    position: relative;
}

.game__title:hover::after {
    content: attr(data-full-title);
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 10;
}

.prices {
    display: flex;
    align-items: baseline;
    gap: 16px;
}

.price__new {
    font-size: 18px;
    line-height: 24px;
}

.price__old {
    font-size: 16px;
    line-height: 20px;
    color: #b1b1b1;
    position: relative;
}

.price__old:before,
.price__old:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: red;
}

.price__old:before {
    top: 50%;
    transform: translateY(-50%) rotate(-12deg);
}

.price__old:after {
    bottom: 50%;
    transform: translateY(50%) rotate(12deg);
}

/* Пагинация */
.pagination {
    margin: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.pagination__button {
    min-width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: #f0f0f0;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination__button_active {
    background-color: #f0f0f0;
    color: #161616;
    border-radius: 50%;
}

.pagination__button_prev {
    color: #00c3e3;
}

.pagination__button_next {
    color: #ff4554;
}

/* Медиа-запросы */
@media (min-width: 1024px) {
    .games__block {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .games__block {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .games__block {
        grid-template-columns: 1fr;
    }
}