/* Add your styles here */
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #282c34;
  }
  
  .header__left,
  .header__middle,
  .header__right {
    display: flex;
    align-items: center;
  }
  
  .header__logo {
    max-height: 70px;
  }
  
  .header__links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 0;
  }
  
  .header__list-item {
    margin: 0 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  
  .header__link-icon {
    height: 30px;
    width: 30px;
  }
  
  .header__link {
    color: #c3c9c6;
    text-decoration: none;
    font-size: 20px;
    line-height: 28px;
  }
  
  .select__region {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
  }
  