/* Add your styles here */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    color: #f3f9f6;
  }

  .pagination__arrow {
    width: 50%;
  }
  
  .pagination__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
    color: #f3f9f6;
    font-size: 20px;
    line-height: 28px;
    width: 40px;
    height: 40px;
  }
  
  .pagination__button_active {
    font-weight: bold;
    background-color: #282c34;
  }
  
  .pagination__button_prev,
  .pagination__button_next {
    width: 40px;
    height: 40px;
  }

  .pagination__button_next {
    transform: rotateY(180deg);
  }
  
  .pagination__ellipsis {
    margin: 0 4px;
    font-size: 16px;
  }
  